body{ 
    background-color:lightyellow;
}
.row{
    background-color: aliceblue;
    border-radius:  25px;
    box-shadow: 12px 12px 22px gray;
}
 img{
     width: 100%;
     border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
     border-top-right-radius: 20px;
 }

 .effect-1{
    border: 0;
    outline: none;
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.effect-1 ~ .Focus-border{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: darkslateblue;
    transition: 0.4s;
}

.effect-1:focus ~ .Focus-border{
    width: 100%;
    transform: 0.4s;
    left: 0;
}

.btn1{
    background-color: darkslateblue;
    color:white;
    outline: none;
    border:none;
    border-radius: 5px;
    height: 40px;
    width: 145px;
}

.btn1:hover{
    -webkit-box-shadow: -5px 10px 23px -8px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 10px 23px -8px rgba(0,0,0,0.75);
box-shadow: -5px 10px 23px -8px rgba(0,0,0,0.75);
}